@model WebApplicationRevisionMVC.Models.Person

<p>RegistrationNumber :  @Model.RegistrationNumber </p>
<p> FirstName : @Model.FirstName</p>
<p> LastName : @Model.LastName </p>
<p> PhoneNumber : @Model.PhoneNumber </p>
<p> Email :  @Model.Email</p>
<p> Age :  @Model.Age</p>
<p> Address : @Model.Address</p>



