@{
    Layout = "AdminLayout";
}
@model IEnumerable<ApiProject.Dtos.MedicalRecordDTO>
    
<div class="card-header" style="background-color:Yellow;">
    <div class="card-title">
        <h1 class="text-center" style="Green">Initialized Cases</h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Id) *@
                S/N
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.FirstName)
               Doctor's Name
            </th>             *@
            <th>
                @* @Html.DisplayNameFor(model => model.Email) *@
                Complain
            </th>            
              <th>
                @* @Html.DisplayNameFor(model => model.Genotype) *@
                Patient's Name
            </th>                         

             <th>
                Doctor Assignment
            </th>
            @*<th>
                Details
            </th>
            <th>
                Delete
            </th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var patients in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => patients.Id)
            </td>           
                    
            <td>
                @Html.DisplayFor(modelItem => patients.PatientComplain)
            </td>           
              
             <td>
                @Html.DisplayFor(modelItem => patients.PatientName)
            </td> 
            
            @* <td>
                <form asp-action="InitializedCases">
                    <select asp-for="@patients.DoctorId" asp-items="ViewBag.Doctor" name="DoctorId" id=""></select>
                    <input asp-route-MedicalRecordId="@patients.Id" type="submit" value="Assign">
                </form>
               <a asp-action="AssignPatientToDoctor" asp-controller="MedicalRecord" asp-route-MedicalRecordId="@patients.Id" type="button" class="btn btn-warning">Assign Doctor</a>
            </td> *@
            <td>
                 <a asp-action="AssignPatientToDoctor" asp-controller="MedicalRecord" asp-route-id="@patients.Id" type="button" class="btn btn-warning">Assign Doctor</a>
            </td>
            
        </tr>
        }
    </tbody>
</table>
@* <button style="background-color:wheat;">
    <a asp-controller="Student" asp-action="Create">Register Student</a>
 </button> *@